<h1>Movies Page</h1>

@section breadcrumbs{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
        <li class="breadcrumb-item active">Movie List</li>
    </ol>
}